body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

#drop-zone {
  width: 120px;
  height: 50px;
  background-color: #ccc;
  text-align: center;
  padding-top: 20px;
}
